*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.first_div{

}
.left{
    /* background: burlywood; */
    float: left;
    background: url("./images/pic1.jpg");
    border: 2px solid red;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    background-position: center center;
}
.right{
    float: right;
    width: 50%;
    background: gray;
    border: 2px solid black;
   
}